.selected-item-navbar{
    margin-top: 3px;
    width: 40px!important;
    border-bottom: 2px solid $primary-color!important;
    display: flex;
    margin-left: 19%;
}

.item-navbar{
    margin-top: 6px;
}

a{
    &:hover{
        text-decoration: none!important;
    }
}