#n_password-label, #c_password-label, #nc_password-label{
    width: 25%;
}

.input-reset-password{
    border-top:0!important;
    border-right:0!important;
    border-left: 0!important;
    border-bottom: 1px solid $secondary-color!important;
    height: 100%!important;
}


.back-btn{
    background-color: $secondary-color!important;
    border-radius: 60px!important;
    padding: 18px 33px!important;
    display: block!important;
    margin-left: auto!important;
    margin-right: auto!important;
    height: auto!important;
    color: white;
  }